.cn-sentence-filter {
    &.btn-group {
        display: flex;
    }

    &_button {
        &.btn {
            cursor: pointer;
            flex: 1 1 auto;
            &--active {
                background-color: #2C3E50;
                &:hover {
                    background-color: #0D1318;
                }
            }
        }
    }
}
